[Unit]
Description=Karbonara

[Service]
User=root
Type=simple
EnvironmentFile=-/etc/default/karbonara
ExecStart=/usr/bin/process-exporter $OPTS
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
